force-app/main/default/flows/Choose_Donor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>totalPercentage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Percentage1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Create_Funding_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_No_of_Donor</name>
        <label>Count No of Donor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>noOfDonor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>countDonor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Donors</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;footer&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Donor_Count</name>
        <label>Check Donor Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Single_Donor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noOfDonor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1</targetReference>
            </connector>
            <label>Single Donor</label>
        </rules>
        <rules>
            <name>Multiple_Donor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noOfDonor</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_2</targetReference>
            </connector>
            <label>Multiple Donor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Total_is_100</name>
        <label>Check Total is 100</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totalPercentage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <label>is 100</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>countDonor</name>
        <dataType>Number</dataType>
        <expression>{!noOfDonor}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>totalFRFormula</name>
        <dataType>Number</dataType>
        <expression>{!Get_Grant_Applicant.Total_Funding_Request__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varAmountRequested</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Grant_Applicant.Requested_Amount__c}*({!Percentage1}/100)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Choose Donor {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Choose Donor</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Donors.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Funding_Request</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_2</name>
        <label>Loop 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Donors.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Enter_Percentage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Total_is_100</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Donors</name>
        <label>Loop Selected Donors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Donors.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_No_of_Donor</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Donor_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_2_of_Create_Funding_Request</name>
        <label>Copy 2 of Create Funding Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>update_record</targetReference>
        </connector>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>Loop_2.Donor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Applicant__c</field>
            <value>
                <elementReference>Get_Grant_Applicant.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Amount_FR__c</field>
            <value>
                <elementReference>varAmountRequested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Funding_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Funding_Request</name>
        <label>Create Funding Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_update_record</targetReference>
        </connector>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>Loop_1.Donor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Applicant__c</field>
            <value>
                <elementReference>Get_Grant_Applicant.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Amount_FR__c</field>
            <value>
                <elementReference>Get_Grant_Applicant.Requested_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Funding_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Donor_Agreements</name>
        <label>Get Donor Agreements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Donor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Grant_Applicant.Program__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Donor_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Grant_Applicant</name>
        <label>Get Grant Applicant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Donor_Agreements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Grant_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_update_record</name>
        <label>Copy 1 of update record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Grant_Applicant.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Funding_Request__c</field>
            <value>
                <elementReference>totalFRFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Grant_Applicant__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_record</name>
        <label>update record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Grant_Applicant.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Funding_Request__c</field>
            <value>
                <elementReference>totalFRFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Grant_Applicant__c</object>
    </recordUpdates>
    <screens>
        <name>Enter_Percentage</name>
        <label>Enter Percentage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
        <fields>
            <name>Percentage</name>
            <fieldText>&lt;p&gt;{!Loop_2.Donor__r.Donor_Name__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Percentage1</name>
            <dataType>Number</dataType>
            <fieldText>Percentage</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Page</name>
        <label>Error Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>&lt;p&gt;Percentage is Above 100.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Donor</name>
        <label>Select Donor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Selected_Donors</targetReference>
        </connector>
        <fields>
            <name>Donors</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Donor_Agreement__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Donor_Agreements</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Donor_Agreement__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_Donor_Agreements&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Agreement_With__c&quot;,&quot;guid&quot;:&quot;column-9470&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Donor&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Agreement With&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Remaining_Amount__c&quot;,&quot;guid&quot;:&quot;column-921d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Remaining Amount&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Donor_Agreement__c&quot;,&quot;fieldReferences&quot;:[&quot;Agreement_With__c&quot;,&quot;Remaining_Amount__c&quot;],&quot;elementReference&quot;:&quot;Get_Donor_Agreements&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Grant_Applicant</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>noOfDonor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalPercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
