force-app/main/default/flows/Create_Awards.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Research_Grants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Research Grants</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UR01_Update_Fund_Source</targetReference>
            </connector>
            <label>Research Grants</label>
        </rules>
        <rules>
            <name>Community_Development_Grants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Community Development Grants</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_UR01_Update_Fund_Source</targetReference>
            </connector>
            <label>Community Development Grants</label>
        </rules>
        <rules>
            <name>Capacity_Building_Grants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capacity Building Grants</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_UR01_Update_Fund_Source</targetReference>
            </connector>
            <label>Capacity Building Grants</label>
        </rules>
        <rules>
            <name>Innovation_Grants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Innovation Grants</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_UR01_Update_Fund_Source</targetReference>
            </connector>
            <label>Innovation Grants</label>
        </rules>
        <rules>
            <name>Emergency_Funding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emergency Funding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_UR01_Update_Fund_Source</targetReference>
            </connector>
            <label>Emergency Funding</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Awards {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Awards</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CR01_Create_Award</name>
        <label>CR01:Create Award</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Awards</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approved_Amount__c</field>
            <value>
                <elementReference>$Record.Requested_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Award_End_Date__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Award_Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Award_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conditions__c</field>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Applicant__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Owner__c</field>
            <value>
                <stringValue>005fj000009iOZJAA2</stringValue>
            </value>
        </inputAssignments>
        <object>Award__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Copy_1_of_UR01_Update_Fund_Source</name>
        <label>Copy 1 of UR01:Update Fund Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fund_Source__c</field>
            <value>
                <stringValue>Internal Funds</stringValue>
            </value>
        </inputAssignments>
        <object>Award__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_UR01_Update_Fund_Source</name>
        <label>Copy 2 of UR01:Update Fund Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fund_Source__c</field>
            <value>
                <stringValue>Donor Restricted Funds</stringValue>
            </value>
        </inputAssignments>
        <object>Award__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_UR01_Update_Fund_Source</name>
        <label>Copy 3 of UR01:Update Fund Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fund_Source__c</field>
            <value>
                <stringValue>External Partner Funds</stringValue>
            </value>
        </inputAssignments>
        <object>Award__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_UR01_Update_Fund_Source</name>
        <label>Copy 4 of UR01:Update Fund Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fund_Source__c</field>
            <value>
                <stringValue>Government Funds</stringValue>
            </value>
        </inputAssignments>
        <object>Award__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Awards</name>
        <label>Update Awards</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Awards_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UR01_Update_Fund_Source</name>
        <label>UR01:Update Fund Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fund_Source__c</field>
            <value>
                <stringValue>Government Funds</stringValue>
            </value>
        </inputAssignments>
        <object>Award__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CR01_Create_Award</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Revision Requested</stringValue>
            </value>
        </filters>
        <filters>
            <field>Awards_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Grant_Applicant__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
