force-app/main/default/flows/Daily_Grant_Escalation_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Process_Approval_Request_Action_1</name>
        <label>Process Approval Request Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AutoApprovalHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionType</name>
            <value>
                <stringValue>Approve</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <stringValue>Auto-approved: Level 1 SLA Exceeded</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AutoApprovalHelper</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Process_Approval_Request_Action_2</name>
        <label>Process Approval Request Action 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AutoApprovalHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionType</name>
            <value>
                <stringValue>Approve</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <stringValue>Auto-approved: Level 2 SLA Exceeded.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AutoApprovalHelper</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Process_Approval_Request_Action_3</name>
        <label>Process Approval Request Action 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AutoApprovalHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionType</name>
            <value>
                <stringValue>Reject</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <stringValue>Auto-rejected: Level 3 SLA Exceeded.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AutoApprovalHelper</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_SLA_Escalation</name>
        <label>Check SLA Escalation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Under_Internal_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Internal Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysSinceSubmissionDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysSinceSubmissionDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>21.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Approval_Request_Action_1</targetReference>
            </connector>
            <label>Under Internal Review</label>
        </rules>
        <rules>
            <name>Under_External_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under External Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysSinceSubmissionDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>21.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysSinceSubmissionDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>28.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Approval_Request_Action_2</targetReference>
            </connector>
            <label>Under External Review</label>
        </rules>
        <rules>
            <name>Review_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revision Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysSinceSubmissionDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>28.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Approval_Request_Action_3</targetReference>
            </connector>
            <label>Review Requested</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DaysSinceSubmissionDate</name>
        <dataType>Number</dataType>
        <expression>TODAY()-{!$Record.Submission_Date__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Daily Grant Escalation Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily Grant Escalation Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_SLA_Escalation</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Application_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Under Internal Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Application_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Under External Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Application_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Revision Requested</stringValue>
            </value>
        </filters>
        <object>Grant_Applicant__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2026-01-09</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
