force-app/main/default/flows/Installment_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_variable</name>
        <label>assign variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNumOfIns</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_For_Number_of_Installments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Number_of_Installments</name>
        <label>Check For Number of Installments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Installment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Installments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumOfIns</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Number_of_Installments__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Installment</targetReference>
            </connector>
            <label>Create Installments</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FmAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Approved_Amount__c} * {!$Record.Percentage__c}/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fmDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 30</expression>
    </formulas>
    <formulas>
        <name>fmLastInstallment</name>
        <dataType>Currency</dataType>
        <expression>MIN({!$Record.Approved_Amount__c} - (({!varNumOfIns}-1)*({!$Record.Approved_Amount__c}*({!$Record.Percentage__c}/100))),{!$Record.Approved_Amount__c}*({!$Record.Percentage__c}/100))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Installment Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Installment Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_2_of_Installment</name>
        <label>Copy 2 of Installment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>fmLastInstallment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>fmDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Allocation__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percentage__c</field>
            <value>
                <elementReference>$Record.Percentage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Installment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Installment</name>
        <label>Installment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assign_variable</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>FmAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>fmDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Allocation__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percentage__c</field>
            <value>
                <elementReference>$Record.Percentage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Installment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_For_Number_of_Installments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Percentage__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Number_of_Installments__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Funding_Allocation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varNumOfIns</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
