force-app/main/default/flows/RT_Conditions_Create_Applicant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Academic_Institution</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Organization_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Academic Institution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Research</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technology &amp; Innovation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Skill Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Environmental Sustainability</stringValue>
                </rightValue>
            </conditions>
            <label>Academic Institution</label>
        </rules>
        <rules>
            <name>Private_Organisation</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Organization_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private Organization</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Research</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technology &amp; Innovation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Infrastructure Development (instead of only Construction)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Skill Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entrepreneurship Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Environmental Sustainability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Healthcare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Education</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Women Empowerment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rural Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Community Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social Welfare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Child Welfare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disaster Relief &amp; Rehabilitation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agriculture &amp; Livelihood</stringValue>
                </rightValue>
            </conditions>
            <label>Private Organisation</label>
        </rules>
        <rules>
            <name>Individual</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Organization_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual Applicant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Education</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Research</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Skill Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entrepreneurship Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technology &amp; Innovation</stringValue>
                </rightValue>
            </conditions>
            <label>Individual</label>
        </rules>
        <rules>
            <name>NGO</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Organization_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NGO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Education</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Healthcare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Community Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Women Empowerment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rural Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Child Welfare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Environmental Sustainability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program.Program_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social Welfare</stringValue>
                </rightValue>
            </conditions>
            <label>NGO</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RT Conditions Create Applicant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT Conditions Create Applicant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program</name>
        <label>Get Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Grant_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Requested_Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Grant_Applicant__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
