force-app/main/default/flows/Send_Invoice_To_Applicant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Action_1</name>
        <label>Send Email Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>$Record.Award__r.Grant_Applicant__r.Grant_Program__r.Primary_Contact_Email__c</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>csmsalesforce@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Invoice {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>Dear {!$Record.Award__r.Grant_Applicant__r.Applicant_Name__c},

We hope you are doing well.

This is to inform you that an invoice has been successfully generated for your approved grant award. Please find the invoice PDF attached to this email for your reference and records.

Invoice Details:

• Invoice Number: 
{!$Record.Name}

• Award Number: {!$Record.Award__r.Name}

• Invoice Amount: {!$Record.Finance_Approved_Amount__c}

• Invoice Date: {!$Record.Invoice_Date__c}

If you have any questions or require further clarification regarding this invoice, please feel free to contact us.

Thank you for your continued collaboration.

Kind regards,

Finance Team

Grant Management System</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
            <value>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentIdCollection</name>
            <value>
                <elementReference>varFileIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignment</name>
        <label>assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFileIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GR02_Get_Latest_PDF.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Action_1</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>PDF_ContentType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>application/pdf</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Send Invoice To Applicant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Invoice To Applicant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GR01_Get_Pdf_File</name>
        <label>GR01:Get Pdf File</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GR02_Get_Latest_PDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GR02_Get_Latest_PDF</name>
        <label>GR02:Get Latest PDF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GR01_Get_Pdf_File.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GR01_Get_Pdf_File</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice_PDF_Generated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>InvoiceForAward__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varFileIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
